{% extends 'layouts/layout_authenticated.html.twig' %}

{% block title %}Mes tickets - Debug.me{% endblock %}

{% block content %}
<main class="profile-page">
  <div class="left">
    <div class="card profile-header">
      <img class="profile__picture" src="{{ asset('uploads/icons/' ~ user.icon) }}"/>
			<div class="profile-details">
        <div class="profile-details-header">
          <p class="profile-details__title">{{ user.firstname }} {{ user.lastname }}</p>
          {% if is_granted('ROLE_ADMIN') %}
            <span class="chip chip--active">Admin</span>
          {% endif %}
        </div>
        <span class="chip">{{ currentRank.name }}</span>
        <div class="profile-rank">
          <div class="progress-bar">
            <span class="progress-bar__inner" style="width: {{ (user.activityPoint / nextRank.requiredPoint) * 100 }}%"></span>
          </div>
          <span class="profile-rank__label">{{ user.activityPoint }} / {{ nextRank.requiredPoint }} (prochain rang: {{ nextRank.name }})</span>
        </div>
      </div>
    </div>
    <div class="card profile-tickets">
      <div class="profile-tickets-header">
        <h1 class="profile-tickets-header__title">Mes tickets</h1>
      </div>
      {% if tickets | length %}
      <ul class="ticket-list-body">
      {% for ticket in tickets %}
        <li class="ticket-list-item">
          <a href="{{ path('app_ticket_show', { id: ticket.id })}}">
            <div class="ticket-header">
              {% if ticket.isDone %}
                <span class="ticket-list-item__status ticket-list-item__status--done">
                  <i class="fa-solid fa-check"></i>
                </span>
              {% else %}
                <span class="ticket-list-item__status ticket-list-item__status--undone">
                  <i class="fa-solid fa-question"></i>
                </span>
              {% endif %}
              <h4 class="ticket-list-item__title">{{ ticket.title }}</h4>
            </div>
            <p class="ticket-list-item__description">{{ ticket.content }}</p>
            <ul class="ticket-list-item__list">
              {% for tag in ticket.tags %}
                <li class="chip">{{ tag.name }}</li>
              {% endfor %}
            </ul>
          </a>
        </li>
        {% endfor %}
      </ul>
      {% else %}
        <div class="ticket-list-body ticket-list-body--empty">
          <p>Vous n'avez pas encore de ticket</p>
        </div>
      {% endif %}
    </div>
  </div>
  <div class="card right">
    <h2 class="menu__title">Mon profil</h2>
    <ul class="menu-list">
        <li class="menu-list__item"><a href="{{ path('app_profile') }}">Mon compte <i class="fa-solid fa-angle-right"></i></a></li>
        <li class="menu-list__item"><a href="{{ path('app_profile_tickets') }}">Mes tickets <i class="fa-solid fa-angle-right"></i></a></li>
        <li class="menu-list__item"><a href="{{ path('app_rank') }}">Mes contributions <i class="fa-solid fa-angle-right"></i></a></li>
    </ul>
  </div>
</main>
{% endblock %}
