{% extends 'layouts/layout_default.html.twig' %}

{# ... #}

{% block content %}
	<div class="login-page">
		{% if error %}
			<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}
		<div class="icon">
			<img class="icon__img" src="{{ asset('images/icon.png') }}" alt="Debug.me icon"/>
			<h1 class="icon__title">Debug.me</h1>
		</div>
		<div class="card">
			<h1 class="card__title">Se connecter</h1>
			<form class="form" action="{{ path('app_login') }}" method="post">
				<div class="form-group">
					<label class="form__label" for="username">Email</label>
					<input class="form__input" type="text" id="username" name="_username" value="{{ last_username }}"/>
				</div>
				<div class="form-group">
					<label class="form__label" for="password">Mot de passe</label>
					<input class="form__input" type="password" id="password" name="_password"/>
				</div>
				{# If you want to control the URL the user is redirected to on success
																																																																																			<input type="hidden" name="_target_path" value="/account"/> #}
				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

				<button class="button" type="submit">Se connecter</button>
			</form>
		</div>
		<p class="link">Vous n'avez  pas encore de compte ?
			<a href="{{ path('app_register') }}">Inscris toi</a>
		</p>
	</p>
</div>{% endblock %}
