{% extends 'layouts/layout_authenticated.html.twig' %}

{% block title %}Debug.me{% endblock %}

{% block content %}
	<main class="home-page">
		<div class="left">
			<article class="card home-card">
				<h1 class="home-card__title">Bonjour {{ app.user.firstname }} {{ app.user.lastname }}</h1>
				<p class="home-card__subtitle">On est ravi de vous revoir</p>
			</article>
			<article class="card">
				<div class="ticket-list">
					<div class="ticket-list-header">
						<h3 class="ticket-list-header__title">Tickets récents</h3>
						<a href="{{ path('app_ticket') }}">
							<span class="ticket-list-header__link">voir tout
								<i class="fa-solid fa-arrow-right"></i>
							</span>
						</a>
					</div>
					{% if tickets | length %}
					<ul class="ticket-list-body">
						{% for ticket in tickets %}
						<li class="ticket-list-item">
							<a href="{{ path('app_ticket_show', { id: ticket.id })}}">
								<div class="ticket-header">
									{% if ticket.isDone %}
										<span class="ticket-list-item__status ticket-list-item__status--done">
											<i class="fa-solid fa-check"></i>
										</span>
									{% else %}
										<span class="ticket-list-item__status ticket-list-item__status--undone">
											<i class="fa-solid fa-question"></i>
										</span>
									{% endif %}
									<h4 class="ticket-list-item__title">{{ ticket.title }}</h4>
								</div>
								<p class="ticket-list-item__description">{{ ticket.content }}</p>
								<ul class="ticket-list-item__list">
									{% for tag in ticket.tags %}
										<li class="chip">{{ tag.name }}</li>
									{% endfor %}
								</ul>
							</a>
						</li>
						{% endfor %}
					</ul>
					{% endif %}
				</div>
			</article>
		</div>
		<div class="right">
			<div class="card card-profile">
      	<img class="card-profile__picture" src="{{ asset('uploads/icons/' ~ app.user.icon) }}"/>
				<div class="card-profile-details">
					<p class="card-profile-details__title">{{ app.user.firstname }} {{ app.user.lastname }}</p>
					<span class="chip">{{ app.user.activityPoint | getRank() }}</span>
					<div class="card-profile-rank">
						<div class="progress-bar">
							<span class="progress-bar__inner" style="width: {{ (app.user.activityPoint / nextRank.requiredPoint) * 100 }}%"></span>
						</div>
						<span class="card-profile-rank__label">{{ app.user.activityPoint }} / {{ nextRank.requiredPoint }} (prochain rang: {{ nextRank.name }})</span>
					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock %}
