{% block sidebar %}
	<aside class="sidebar">
		<a href="{{ path('app_profile') }}">
			<div class="sidebar-header">
				{% if app.user %}
					<img class="sidebar-header__picture" src="{{ asset('uploads/icons/' ~ app.user.icon) }}"/>
					{{ app.user.firstname }} {{ app.user.lastname }}
					<i class="fa-solid fa-sort-down"></i>
				{% endif %}
			</div>
		</a>
		<nav class="nav">
			<ul class="nav-list">
				<li {% if app.request.get('_route') == 'app_home' %} class="nav-list__item nav-list__item--active" {% else %} class="nav-list__item" {% endif %}>
					<a href="{{ path('app_home') }}">
						<i class="fa-solid fa-house icon"></i>
						Accueil
					</a>
				</li>
				<li {% if app.request.get('_route') == 'app_rank' %} class="nav-list__item nav-list__item--active" {% else %} class="nav-list__item" {% endif %}>
					<a href="{{ path('app_rank') }}">
						<i class="fa-solid fa-ranking-star icon"></i>
						Classement
					</a>
				</li>
				<li {% if app.request.get('_route') == 'app_ticket_add' %} class="nav-list__item nav-list__item--active" {% else %} class="nav-list__item" {% endif %}>
					<a href="{{ path('app_ticket_add') }}">
						<i class="fa-solid fa-ticket icon"></i>
						Créer un ticket
					</a>
				</li>
				{% if is_granted('ROLE_ADMIN') %}
				<li {% if app.request.get('_route') == 'app_tag' %} class="nav-list__item nav-list__item--active" {% else %} class="nav-list__item" {% endif %}>
					<a href="{{ path('app_tag') }}">
						<i class="fa-solid fa-tag icon"></i>
						Liste des tags
					</a>
				</li>
				{% endif %}
			</ul>
		</nav>
	</aside>
{% endblock %}
