{% extends 'base.html.twig' %}

{% block title %}Hello TicketController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .category {margin : 2em 0 2em 0; border-bottom:2px solid black}
</style>


<div class="example-wrapper">
    <h1>{{ title }}! ✅</h1>
    <div class="category">
        <p>Ticket id : {{ ticket.id }} </p>
        <p>Nom du ticket : {{ ticket.title }}</p>
        <p>Auteur : {{ ticket.author.firstname }} {{ ticket.author.lastname }}</p>
        <p>Contenu :  {{ ticket.content }}</p>
        <p>Créé le :  {{ ticket.createdAt|date('Y-m-d H:i:s') }}</p>
        <p>Modifier le  :  {{ ticket.modifiedAt|date('Y-m-d H:i:s') }}</p>
        <p>Problème résolu : {{ticket.done ? "Oui": "Non"}}</p>
    </div>
    <div>
        <ul>
            {% for comment in comments %}
            {% set liked = false %}
            {% set likeId = "null" %}
            <li class="category">
                <p>Commentaire id : {{ comment.id }} </p>
                <p>Nom de l'auteur du commentaire: {{ comment.author.firstname }} {{ comment.author.lastname }}</p>
                </p>
                <p>Contenu :  {{ comment.content }}</p>
                {% if comment.modifiedAt  %}
                    <p>Modifier le  :  {{ comment.modifiedAt|date('H:i:s d-m-Y') }}</p>
                {% else %}
                    <p>Créé le :  {{ comment.createdAt|date('H:i:s d-m-Y') }}</p>
                {% endif %}
                
                <p>Like : {{ comment.likes|length }}

                {% for like in comment.likes %}
                    {% if like.user == user %}
                        
                        {% set liked = true %}
                        {% set likeId = like.id %}
                    {% endif %}
                {% endfor %}
                
                {% if user %}
                    {% if liked %}
                        <button onclick="handleLike({{ comment.id }}, {{user.id}}, {{likeId}}, 'unlike')">Je n'aime plus</button>
                    {% else %}
                        <button onclick="handleLike({{ comment.id }}, {{user.id}}, {{likeId}}, 'like')">J'aime</button>
                    {% endif %}
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
    <div>
        {% if form %}
            {{ form(form) }}
        {% endif %}
        
    </div>
</div>

<script>


function handleLike(commentid, userid, likeid, action) {
    console.log("commentid : ",commentid);
    console.log("userid : ",userid);
    console.log("likeid : ",likeid);

    // Utilisez jQuery pour envoyer une requête AJAX
    $.ajax({
        type: 'POST',
        url: '{{ path('handle_like_ajax') }}',
        contentType: 'application/json', // Ajoutez cette ligne pour spécifier le type de contenu JSON
        data: JSON.stringify({
            commentid: commentid,
            userid: userid,
            likeid: likeid,
            action: action,
        }),
        success: function (data) {
            // Réponse réussie
            console.log(data);
            // Mettez à jour l'interface utilisateur ou effectuez d'autres actions si nécessaire
            // ...
            // Exemple d'actualisation de la page après le traitement AJAX
            location.reload();
        },
        error: function (error) {
            // Gestion des erreurs
            console.error("Erreur :",error);
        }
    });
}

</script>
{% endblock %}

