{% extends 'base.html.twig' %}

{% block title %}Hello TicketController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .category {margin : 2em 0 2em 0; border-bottom:2px solid black}
</style>

<div class="example-wrapper">
    <h1>{{ title }}! ✅</h1>
    <ul>
        {% for ticket in tickets %}
        <li class="category">
            <p>Ticket id : {{ ticket.id }} </p>
            <p>Nom du ticket : {{ ticket.title }}</p>
            <p>Auteur : {{ ticket.author.firstname }} {{ ticket.author.lastname }}</p>
            <p>Contenu :  {{ ticket.content }}</p>
            <p>Créé le :  {{ ticket.createdAt|date('Y-m-d H:i:s') }}</p>
            <p>Modifier le  :  {{ ticket.modifiedAt|date('Y-m-d H:i:s') }}</p>
            <p>Problème résolu : {{ticket.done ? "Oui": "Non"}}</p>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
