{% extends 'layouts/layout_authenticated.html.twig' %}

{% block title %}{{ ticket.title }} - Debug.me{% endblock %}

{% block content %}
<main class="ticket-page">
    <div class="card left">
        <div class="card-header">
            {% if ticket.isDone %}
                <span class="ticket__status ticket__status--done">
                    <i class="fa-solid fa-check"></i>
                </span>
            {% else %}
                <span class="ticket__status ticket__status--undone">
                    <i class="fa-solid fa-question"></i>
                </span>
            {% endif %}
            <h1 class="ticket__title">{{ ticket.title }}</h1>
        </div>
        {% if ticket.tags | length %}
            <ul class="ticket-tags">
                {% for tag in ticket.tags %}
                    <li class="chip">{{tag.name}}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <p class="ticket__content">{{ ticket.content }}</p>
        <div class="ticket-comments">
            <div class="ticket-comments-header">
                <h3 class="ticket-comments-header__title">Réponses</h3>
                <span class="chip chip--active">{{ comments | length }}</span>
            </div>
            {% if comments | length %}
            <ul class="ticket-comments-list">
                {% for comment in comments %}
                    <li class="ticket-comment">
                        <span class="ticket-comment__dot"></span>
                        <article class="card ticket-comment-card">

                            <div class="ticket-comment-header">
                                <div class="ticket-profile">
                                    <img class="ticket-profile__picture" src="{{ asset('uploads/icons/' ~ comment.author.icon) }}"/>
                                    {{ comment.author.firstname }}
                                    {{ comment.author.lastname }}
                                </div>
                                <p>Posté le {{ comment.createdAt | format_datetime('short', 'short', locale='fr') }}</p>
                            </div>
                            <p class="ticket-comment__content">{{ comment.content }}</p>
                            
                            <div class="ticket-comment-footer">
                                <div class="ticket-comment-like">
                                    <a href="{{ path('app_comment_like', {'id': comment.id}) }}" class="btn btn-link js-like">
                                        <div role="button" class="button button--neutral">
                                            {% if app.user and comment.likedByUser(app.user) %}
                                                <i class="fas fa-heart"></i>
                                            {% else %}
                                                <i class="far fa-heart"></i>
                                            {% endif %}
                                            <p><span class="js-likes">{{ comment.likes | length }}</span> likes</p>
                                        </div>
                                    </a>
                                </div>
                                {% if app.user == comment.author or is_granted('ROLE_ADMIN') %}
                                <div class="ticket-comment-actions">
                                    <a href="{{ path('app_ticket_comment_edit', { ticketId: ticket.id, commentId: comment.id }) }}">
                                        <div role="button" class="button button--outlined"><i class="fa-solid fa-pen-to-square"></i></div>
                                    </a>
                                    <a href="{{ path('app_ticket_comment_delete', { ticketId: ticket.id, commentId: comment.id }) }}">
                                        <div role="button" class="button button--neutral"><i class="fa-solid fa-trash"></i></div>
                                    </a>
                                </div>
                                {% endif %}
                            </div>
                        </article>
                    </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        {% if form %}
        <div class="ticket-answer">
            <h3 class="ticket-answer__title">Votre réponse</h3>
            <div class="form-group">
                {{ form_start(form, { 'attr': {'class': 'ticket-answer-form' } }) }}
                    <textarea rows="6" name="{{ field_name(form.content) }}" value="{{ field_value(form.content) }}" placeholder="Description de la question" class="form__input"></textarea>
                    {{ form_widget(form.submit, { 'label': 'Envoyer', 'attr': {'class': 'button button--filled' } }) }}
                {{ form_end(form) }}
            </div>
        </div>
        {% endif %}
    </div>
    <div class="card right">
        <ul class="ticket-list">
            <li class="ticket-list__item">
                <h2>Date de création</h2>
                {{ ticket.createdAt | date("d M Y") }}
            </li>
            <li class="ticket-list__item">
                <h2>Ticket crée par</h2>
                <div class="ticket-profile">
                    <img class="ticket-profile__picture" src="{{ asset('uploads/icons/' ~ ticket.author.icon)}}"/>
                    {{ ticket.author.firstname }}
                    {{ ticket.author.lastname }}
                </div>
            </li>
            <li class="ticket-list__item">
                <h2>Status</h2>
                {% if ticket.isDone %}
                    <span class="chip chip--active">
                        Résolu
                    </span>
                {% else %}
                    <span class="chip">
                        En cours
                    </span>
                {% endif %}
            </li>
        </ul>
        {% if user == ticket.author or is_granted('ROLE_ADMIN')%}
        <span class="card__divider"></span> 
        <div class="ticket-actions">
            <div class="ticket-actions-edition">
                <a href="{{ path('app_ticket_edit', { id: ticket.id }) }}">
                    <div role="button" class="button button--outlined"><i class="fa-solid fa-pen-to-square"></i></div>
                </a>
                <a href="{{ path('app_ticket_delete', { id: ticket.id }) }}">
                    <div role="button" class="button button--neutral"><i class="fa-solid fa-trash"></i></div>
                </a>
            </div>
            <a href="{{ path('app_ticket_done', { id: ticket.id }) }}">
                <div role="button" class="button button--filled"><i class="fa-solid fa-check"></i>Marquer comme résolu</div>
            </a>
        </div>
        {% endif %}
    </div>
</div>

<script>
    const LIKE_ICON = 'fa-regular fa-heart';
    const UNLIKE_ICON = 'fa-solid fa-heart';

    Array.from(document.querySelectorAll('a.js-like')).forEach(function (link) {
        link.addEventListener('click', onClickLink);
    });

    async function onClickLink(event) {
        event.preventDefault();
        const url = this.href;
        const icone = this.querySelector('i');
        const count = this.querySelector('span.js-likes');

        try {
            const result = await axios.post(url);
            const data = result.data;
            icone.className = icone.className === LIKE_ICON ? UNLIKE_ICON : LIKE_ICON;
            count.textContent = data.likes;
        } catch (error) {
            console.error(error)
        }
    }
</script>
{% endblock %}

