{% extends 'layouts/layout_authenticated.html.twig' %}

{% block title %}Edition un tag{% endblock %}

{% block content %}
	<div class="add-ticket-page">
		<div class="card">
			<h1 class="card__title">Edition d'un tag</h1>
			{{ form_start(form, { 'attr' : { 'class': 'form' } }) }}

			<div class="form-group">
				<label class="form__label">Nom du tag</label>
				<input name="{{ field_name(form.name) }}" value="{{ field_value(form.name) }}" placeholder="Javascript" class="form__input">
			</div>
			<div class="form-group">
				<label class="form__label">Couleur</label>
				<input  name="{{ field_name(form.color) }}" value="{{ field_value(form.color) }}" placeholder="#ff0000" class="form__input">
			</div>
            {{ form_widget(form.submit, { 'label': 'Editer', 'attr': { 'class': 'button' } }) }}
            {{ form_end(form) }}
		</div>
	{% endblock %}
