{% extends 'layouts/layout_authenticated.html.twig' %}

{% block title %}Classement - Debug.me{% endblock %}


{% block content %}
<div class="rank-page">
	<h3 class="rank-page__title">Classement</h3>
	<article class="card">
		<div class="rank-list">
			<div class="rank-list-header">
				<p class="rank-list-header__column">Utilisateur</p>
				<p class="rank-list-header__column">Rang</p>
				<p class="rank-list-header__column">Nb de points</p>
			</div>
			<ul class="rank-list-body">
				{% for user in users %}
				<li class="rank-list-item">
					<div class="rank-list-item-profile">
						<img class="rank-list-item__picture" src="{{ asset('uploads/icons/' ~ user.icon) }}"/>
						<p>{{ user.firstname }} {{ user.lastname }}</p>
					</div>
					<span class="chip">{{ user.activityPoint | getRank }}</span>
					<p class="chip">{{ user.activityPoint }} pts</p>
				</li>
				{% endfor %}
			</ul>
		</div>
	</article>
</div>
{% endblock %}
