{% extends 'base.html.twig' %}

{% block title %}Hello TicketController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .category {margin : 2em 0 2em 0; border-bottom:2px solid black}
</style>

<div class="example-wrapper">
    <h1>{{ title }}! ✅</h1>
    <ul>
        {% for user in users %}
        <li class="category">
            <p>User id : {{ user.id }} </p>
            <p>Adresse e-mail : {{ user.email }}</p>
            <p>Prénom : {{ user.firstname }}</p>
            <p>Nom :   {{ user.lastname }}</p>
            <p>Créé le :  {{ user.createdAt|date('Y-m-d H:i:s') }}</p>
            <p>Icone :  {{ user.icon }}</p>
            <p>Point d'activité : {{user.activityPoint}}</p>
        </li>
        
        {% endfor %}
    </ul>
</div>
{% endblock %}
