{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .category {margin : 2em 0 2em 0; border-bottom:2px solid black}
</style>

<div class="example-wrapper">
    <h1>{{ title }}! ✅</h1>
    <ul>
        <li class="category">
            <p>User id : {{ user.id }} </p>
            <p>Adresse e-mail : {{ user.email }}</p>
            <p>Prénom : {{ user.firstname }}</p>
            <p>Nom :   {{ user.lastname }}</p>
            <p>Créé le :  {{ user.createdAt|date('d-m-Y ') }}</p>
            <p>Icone :  <img width="100px" src="{{ asset('uploads/icons/' ~ user.icon) }}"/></p>
            <p>Point d'activité totale : {{user.activityPoint}}</p>
            <p>Prochain rang dans : {{nextRank.requiredPoint - user.activityPoint }} pts d'activité</p>
            <p>{{user.activityPoint - lastRank.requiredPoint}}xp <input type="range" min={{lastRank.requiredPoint}} value={{user.activityPoint}} max={{nextRank.requiredPoint}} disabled/>{{nextRank.requiredPoint - lastRank.requiredPoint}}xp Rang Suivant : {{nextRank.name}}</p>
            
        </li>
        
    </ul>
</div>
{% endblock %}
